.botao-add{
    background-color: #582b58;
    color: #ffffff;
    padding: 10px;
    margin-left: 5px;
}

.botao-diminuir{
    background-color: #a045a0;
    color: #ffffff;
    padding: 10px;
    margin-left: 5px;
}