
.cadastro{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.resultado{
    display: flex;
}

.input{
    height: 40px;
    width: 300px;
}

.btn-remover{
    margin-left: 5px;
}

.btn-cadastrar{
 background-color: rgb(100, 76, 122);
 color: cornsilk;
 height: 40px;
}


.login-form {
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    border: solid gray 1px;
    text-align: center;
}

.group-label {
    /* display: flex; */
    margin: 10px;
    width: 70%;
    justify-content: space-between;
}

.label{
    margin-right: 20px;
}