
.cadastro{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.resultado{
    display: flex;
}

.input{
    height: 40px;
    width: 300px;
    margin-top: 20px;
}

.btn-remover{
    margin-left: 5px;
}

.btn-cadastrar{
 background-color: rgb(100, 76, 122);
 color: cornsilk;
 height: 40px;
}


.login-form {
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    border: solid gray 1px;
    text-align: center;
}

.group-label {
    /* display: flex; */
    margin: 10px;
    width: 70%;
    justify-content: space-between;
}

.label{
    margin-right: 20px;
}

.produtos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pesquisar{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.paginaGit{
    
        width: 400px;
        height: 200px;
        margin:  0 auto;
        text-align: center;
        border-width:2px;
        border-style: solid;
        border-color: #000000;       
        margin-top: 50px;
       font-weight: bold;
     
}

